#title {
  text-align: center;
  color: white;
  background-color: #4F4E5A;
  width: 100%;
  margin-left: -10px;
  
}

#searchBtn {
  background-color: #276EE9;
  color: white;
  border-radius: 10px;
}

#cityCol {
  background-color: rgb(170, 168, 182);
  margin-left: 5px;
  margin-right: -10px;
  padding-bottom: 10px;
}

#fiveDay {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
}

#uvText {
  color: white;
  background-color: rgb(173, 23, 23);
}

#firstBox {
  background-color: #276EE9;
  margin-left: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

#secondBox {
  background-color: #276EE9;
  margin-left: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

#thirdBox {
  background-color: #276EE9;
  margin-left: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

#fourthBox {
  background-color: #276EE9;
  margin-left: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

#fifthBox {
  background-color: #276EE9;
  margin-left: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
}